[Unit]
Description=Instance Manager for Proto-Testbed
Type=simple
After=network-online.target

[Service]
User=root
WorkingDirectory=/usr/lib/instance-manager
ExecStart=python3 agent_manager.py 
Restart=on-failure
RestartSec=5
StartLimitBurst=10
StartLimitIntervalSec=60

[Install]
WantedBy=network-online.target
