network:
  version: 2
  ethernets:
    mgmt:
      match:
        macaddress: "{{ mgmt_if_mac }}"
      set-name: "mgmt"
      addresses:
        - "{{ mgmt_address }}/{{ mgmt_netmask }}"
      gateway4: "{{ mgmt_server }}"
    eth1:
      match:
        macaddress: "{{ exp1_if_mac }}"
      set-name: "eth1"
    eth2:
      match:
        macaddress: "{{ exp2_if_mac }}"
      set-name: "eth2"
    eth3:
      match:
        macaddress: "{{ exp3_if_mac }}"
      set-name: "eth3"
    eth4:
      match:
        macaddress: "{{ exp4_if_mac }}"
      set-name: "eth4"
