#cloud-config
hostname: {{ hostname }}
fqdn: {{ fqdn }}
manage_etc_hosts: true
ssh_deletekeys: false
write_files:
    - path: /etc/resolv.conf
      content: |
        nameserver {{ dns_primary }}
      owner: root:root
      permissions: '0644'
runcmd:
    {% for command in mandatory_commands -%}
    - {{ command }}
    {% endfor -%}
    - /bin/true
